/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #012A4A;
}

.hero-section {
  height:100vh;
  background-color: #F7B500;
  position: relative;
  overflow: hidden;
}

.top-bar {
  background-color: #012A4A;
  padding: 10px 10px;   
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;            
  height: 60px;          
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;           
  height: 100%;          
  object-fit: contain;   
}


.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.text-content {
  flex: 1;
  max-width: 500px;
}

.text-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  left: 90px;              
  top: 100px;
}

.text-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  position: relative;
  left: 90px;              
  top: 100px;
}

.cta-button {
  display: inline-block;
  padding: 30px 250px;
  white-space: nowrap;
  border: 4px solid #012A4A;
  background-color: transparent;
  color: #012A4A;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 12px;      
  font-size: 18px;          
  position: relative;
  left: 90px;              
  top: 150px;
}

.cta-button:hover {
  background-color: #012A4A;
  color: #fff;
}

.image-content {
  flex: 1;
  text-align: center;
}

.image-content img {
  max-width: 50%;
  height: auto;
  margin-top: -20px;
  float: right;
}

/* Angled bottom design using pseudo-element */
.angled-bottom {
  position: absolute;
  bottom: 0;
  left: 700px;
  width: 100%;
  height: 600px;
  background-color: #012A4A;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
